<div class="container mt-3 ">
  <div class="container mb-3">
    <button class="btn btn-danger" (click)="getAllPelanggan()">Load Pelanggan</button>
    <a id="addNewBtn" class="btn btn-success" routerLink="/pelanggan-new-form">Add New Pelanggan</a>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <div class="card border-primary mb-3" style="width: 500px;" *ngFor="let iPelanggan of pelanggan">
        <div class="card-body" (click)="onSelectedPelanggan(iPelanggan)">
            <div>Nama Pelanggan: {{iPelanggan.nama}}</div>
            <div>Kode Pelanggan: {{iPelanggan.kodepel}}</div>
        </div>
        <button class="btn btn-danger" (click)="delete(iPelanggan.id)">Delete</button>
      </div>
    </div>
    <div>
      <app-pelanggan-detail [pelanggan]="selectedpelanggan"></app-pelanggan-detail>
    </div>
  </div>
</div>


