<div class="container mt-3 " *ngIf="buku">
  <div class="h2 d-flex justify-content-between" style="margin-bottom: 10px;">
    Daftar Buku
    <a id="addNewBtn" class="btn btn-success" routerLink="/buku-new-form">Add New Buku</a>
  </div>
 
  <hr>  
  <div class="container mb-3">
    <!-- <button class="btn btn-dark" (click)="getAllBuku()">Load Buku</button> -->

  </div>

  <div class="d-flex justify-content-between">
    <div>
      <div class="card text-white bg-dark mb-3" style="width: 500px;" *ngFor="let iBuku of buku">
        <div class="card-body">
            <div class="card-text">Judul: {{iBuku.judul}}</div>
            <div class="card-text">ISBN: {{iBuku.isbn}}</div>
        </div>
        <!-- <button class="btn btn-danger" (click)="delete(iBuku.id)">Delete</button> -->
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" (click)="onSelectedBuku(iBuku)">Details</a>
              <a class="dropdown-item" (click)="delete(iBuku.id)">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-buku-detail [buku]="selectedBuku"></app-buku-detail>
    </div>
  </div>
</div>


