<!-- <div *ngIf="jmlBuku > 0; else bukuKosong">
  <ul>
    <li *ngFor ="let iBuku of buku">
      ID:{{iBuku.id}};
      Judul:{{iBuku.judul}};
      Pengarang:{{iBuku.pengarang}};
      ISBN:{{iBuku.isbn}};
    </li>
  </ul>
</div> -->

<div class="container mt-3 ">
  <div class="container mb-3">
    <button class="btn btn-danger" (click)="getAllBuku()">Load Buku</button>

    <a id="addNewBtn" class="btn btn-success" routerLink="/buku-new-form">Add New Buku</a>
  </div>

  <div class="d-flex justify-content-between">
    <div>
      <div class="card border-primary mb-3" style="width: 500px;" *ngFor="let iBuku of buku">
        <div class="card-body" (click)="onSelectedBuku(iBuku)">
            <div>Judul: {{iBuku.judul}}</div>
            <div>ISBN: {{iBuku.isbn}}</div>
        </div>
      </div>
    </div>
    <div>
      <app-buku-detail [buku]="selectedBuku"></app-buku-detail>
    </div>
  </div>
</div>


