<div class="card text-white bg-dark mb-3" *ngIf="buku" style="width: 500px; height: 300px;" >

  <div class="card-body ">
    <h4 class="card-title">{{buku.judul | uppercase}} Details</h4>
    <fieldset>
      <div class="form-group"><span>id: {{buku.id}}</span></div>
      <div class="form-group"><span>ISBN: {{buku.isbn}}</span></div>
      <div class="form-group"><span>Pengarang: {{buku.pengarang}}</span></div>
      <div class="form-group"><span>Penerbit: {{buku.penerbit}}</span></div>
      <div class="form-group"><span>Tanggal Terbit: {{buku.tglterbit | date: 'dd-MM-yyyy'}}</span></div>
      <div class="d-flex justify-content-between" style="margin-top: 10px;">
        <span><button class="btn btn-secondary fw-bold" (click)="goBack()">&lt;</button></span>
        <div>
          <a class="btn mx-1 btn-success" [routerLink]="['/buku-edit-form', buku.id]">Edit Data</a>
          <button class="btn mx-1 btn-danger" (click)="delete(buku.id)">Delete Data</button>
        </div>
      </div>
    </fieldset>
  </div>
</div>
