<!-- <div *ngIf="jmlBuku > 0; else bukuKosong">
  <ul>
    <li *ngFor ="let iBuku of buku">
      ID:{{iBuku.id}};
      Judul:{{iBuku.judul}};
      Pengarang:{{iBuku.pengarang}};
      ISBN:{{iBuku.isbn}};
    </li>
  </ul>

</div> -->
<div >
  <div>
    <button class="btn btn-danger" (click)="getAllBuku()">Load Buku</button>
  </div>
  <table class="table table-hover table-bordered" style="width: 50%">
    <thead>
      <tr >
        <th scope="col">id</th>
        <!-- <th scope="col">Judul</th>
        <th scope="col">Pengarang</th>
        <th scope="col">Penerbit</th> -->
        <th scope="col">ISBN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let iBuku of buku">
        <th scope="row">{{iBuku.id}}</th>
        <!-- <td>{{iBuku.judul}}</td>
        <td>{{iBuku.pengarang}}</td>
        <td>{{iBuku.penerbit}}</td> -->
        <td (click)="onSelectedBuku(iBuku)">{{iBuku.isbn}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <app-buku-detail [buku]="selectedBuku"></app-buku-detail>
</div>
<ng-template #bukuKosong>
  <p>Data Buku Tidak Ada</p>
</ng-template>
