<div class="container" *ngIf="buku">
  <h2 style="text-align: center;">Form Edit Buku</h2>
  <fieldset>
    <div class="form-group row">
      <label class="form-label mt-1">Pengarang: </label>
      <input type="text" id="txtPengarang" class="form-control" name="pengarang" placeholder="Nama Pengarang" [(ngModel)]="buku.pengarang">
    </div>
    <div class="form-group row">
      <label class="form-label mt-1">Judul: </label>
      <input type="text" id="txtJudul" class="form-control" name="judul" placeholder="Judul Buku" [(ngModel)]="buku.judul">
    </div>
    <div class="form-group row">
      <label class="form-label mt-1">Penerbit: </label>
      <input type="text" id="txtPenerbit" class="form-control" name="penerbit" placeholder="Nama Penerbit" [(ngModel)]="buku.penerbit">
    </div>
    <div class="form-group row">
      <label class="form-label mt-1">Tanggal Terbit: </label>
      <input type="date" id="txtTglterbit" class="form-control" name="tglterbit" [(ngModel)]="buku.tglterbit">
    </div>

    <div class="form-group row">
      <label class="form-label mt-1">ISBN: </label>
      <input type="text" id="txtISBN" class="form-control" name="isbn" placeholder="Nomor ISBN" [(ngModel)]="buku.isbn">
    </div>
    <div class="d-flex justify-content-between" style="margin-top: 10px;">
      <button class="btn mx-1 btn-success" type="submit" (click)="update()">Update Data</button>
    </div>
  </fieldset>
</div>
